@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img {
    @apply inline-block;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: #9eade6;
  }
}

$fontFiles: (
  400: "@/assets/CircularXX-Medium.otf",
  600: "@/assets/CircularXX-Bold.otf",
  800: "@/assets/CircularXX-Book.otf",
);

@each $fontWeight, $fontFile in $fontFiles {
  @font-face {
    font-weight: $fontWeight;
    font-family: Circular;
    font-display: swap;
    src: url(#{$fontFile}) format("opentype");
  }
}

.p-tabview-nav {
  padding: 5px 10px 0 !important;
}
.p-tabview .p-tabview-panels {
  padding: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply bg-transparent border-b-0 border-2 border-gray-900 p-[8px];
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @apply border-b-0 border-t-2 border-x-2 border-bluko-300;
  &:focus {
    @apply border-b-0 outline-none shadow-none;
  }
}
.p-tabview-nav-link.p-tabview-header-action {
  height: 106%;
}

.p-progressbar .p-progressbar-value {
  @apply bg-bluko-500;
}
.p-inputtext:enabled:hover {
  @apply border-bluko-300;
}
