@mixin typo-giga-title {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
}

@mixin typo-mega-title {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
}

@mixin typo-extra-large-title {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
}

@mixin typo-large-title {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

@mixin typo-title {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}

// Responsive
$breakpoints: (
  "xsmall": 540px,
  "small": 720px,
  "medium": 960px,
  "large": 1280px,
);

@mixin above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Colors
$bluko-1000: #000640;
$bluko-900: #091161;
$bluko-800: #122182;
$bluko-700: #1b31a4;
$bluko-600: #2441c5;
$bluko-500: #2d50e6;
$bluko-400: #5875ec;
$bluko-300: #829af2;
$bluko-200: #acbef7;
$bluko-100: #d6e3fd;
$bluko-75: #e0ecfe;
$bluko-50: #ebf5ff;
$mint-1000: #002922;
$mint-900: #093d34;
$mint-800: #115146;
$mint-700: #1a6558;
$mint-600: #22796a;
$mint-500: #2a8c7c;
$mint-400: #55a497;
$mint-300: #80bbb1;
$mint-200: #aad2cb;
$mint-100: #d5e9e6;
$mint-75: #e0efec;
$mint-50: #ebf5f3;
$orange-1000: #521d00;
$orange-900: #6f310f;
$orange-800: #8b451d;
$orange-700: #a7582b;
$orange-600: #c46c3a;
$orange-500: #e07f48;
$orange-400: #e7976a;
$orange-300: #eeb08d;
$orange-200: #f5c9b0;
$orange-100: #fce1d2;
$orange-75: #fee7da;
$orange-50: #ffede3;
$terracota-1000: #4a0006;
$terracota-900: #671218;
$terracota-800: #83232b;
$terracota-700: #a0353d;
$terracota-600: #bc464f;
$terracota-500: #d95762;
$terracota-400: #e2777f;
$terracota-300: #ea979e;
$terracota-200: #f3b7bc;
$terracota-100: #fbd8db;
$terracota-75: #fde0e2;
$terracota-50: #ffe8ea;
$gold-1000: #452e00;
$gold-900: #664a12;
$gold-800: #866523;
$gold-700: #a88135;
$gold-600: #c89d46;
$gold-500: #e9b857;
$gold-400: #eec675;
$gold-300: #f3d393;
$gold-200: #f8e0b1;
$gold-100: #fdeecf;
$gold-75: #fef1d6;
$gold-50: #fff4de;
$gray-1000: #2c2302;
$gray-900: #413917;
$gray-800: #564f34;
$gray-700: #6b6651;
$gray-600: #807c6c;
$gray-500: #96948a;
$gray-400: #aaa8a1;
$gray-300: #c0beb8;
$gray-200: #d5d4cf;
$gray-100: #eae9e3;
$gray-75: #efeee9;
$gray-50: #f4f3ef;
$cream-600: #fffaed;
$cream-500: #faf2e3;
$cream-400: #f4ead6;
$teal-500: #26b2bf;
$purple-500: #9647b2;
$white: #fff;
$fake-black-1000: #293148;

// App Config
$navbar-height: 64px;
$result-bar-height: 72px;
