$fontFiles: (
  400: "@/assets/CircularXX-Medium.otf",
  600: "@/assets/CircularXX-Bold.otf",
  800: "@/assets/CircularXX-Book.otf",
);

@each $fontWeight, $fontFile in $fontFiles {
  @font-face {
    font-weight: $fontWeight;
    font-family: Circular;
    font-display: swap;
    src: url(#{$fontFile}) format("opentype");
  }
}

// dark theme
.dark {
  background-color: #212121;
  color: white;
  .p-menubar,
  .p-menubar-root-list,
  .p-submenu-list {
    background-color: rgb(46, 47, 63);
  }
  .p-menuitem-text,
  .p-menuitem-icon,
  .p-submenu-icon {
    color: white !important;
  }
  .p-menuitem-link:not(.p-disabled):hover {
    background-color: rgb(57, 59, 83) !important;
  }
  .p-menuitem-active > .p-menuitem-link {
    background-color: rgb(57, 59, 83) !important;
  }
  // dialog
  .p-dialog-header {
    border-bottom: 1px solid #3c3f41;
  }
  .p-dialog-footer {
    border-top: 1px solid #3c3f41;
  }
  .p-dialog-header,
  .p-dialog-content,
  .p-dialog-footer {
    background-color: rgb(35, 36, 48);
    color: white;
  }
  .p-inputtext {
    background-color: rgb(32, 34, 46);
    border: 1px solid #3c3f41;
    color: white;
  }
  .p-inputtext:hover {
    border: 1px solid #53585c;
  }
  .p-button.p-button-text {
    color: #b2badb;
  }
  .p-button.p-button-text:enabled:hover {
    color: #c3cbee;
  }
  svg {
    fill: white;
  }
  i {
    color: white;
  }

  .logo {
    color: rgb(129, 156, 216);
  }
  .resultBar {
    background-color: rgb(46, 47, 63);
  }
}
